#!/usr/bin/env bash

export TF_VAR_wtp_aws_region= # your region
export TF_VAR_wtp_environment= # your env
export TF_VAR_wtp_external_id_dev= # not sure?
export TF_VAR_wtp_external_id_prod= # not sure?